---
import Heading from '@/components/base/Heading.astro'
import ProjectItem from '@/components/base/ProjectItem.astro'
import SectionWrapper from '@/components/layout/SectionWrapper.astro'
import type { ComponentProps } from 'astro/types'
import Code from '@/assets/icons/code.svg'
import UptaskProjectImage from '@/assets/uptask-project.png'
import GymProjectImage from '@/assets/gym-project.png'
import VueIcon from '@/assets/icons/vuejs.svg'
import NuxtIcon from '@/assets/icons/nuxt.svg'
import HtmlIcon from '@/assets/icons/html.svg'
import CssIcon from '@/assets/icons/css.svg'
import JsIcon from '@/assets/icons/js.svg'
import TailwindCssIcon from '@/assets/icons/tailwindcss.svg'

const PROJECTS: ComponentProps<typeof ProjectItem>[] = [
  {
    imageUrl: UptaskProjectImage,
    title: 'UpTask',
    stack: [
      {
        icon: VueIcon,
        name: 'VueJS',
        class: 'bg-emerald-500/10 text-emerald-400 border border-emerald-500/20'
      },
      {
        icon: NuxtIcon,
        name: 'NuxtJS',
        class: 'bg-green-500/10 text-green-400 border border-green-500/20'
      },
      {
        icon: TailwindCssIcon,
        name: 'Tailwind',
        class: 'bg-sky-500/10 text-sky-400 border border-sky-500/20'
      },
    ],
    description:
    'A web application for managing projects and tasks. Each project can contain multiple tasks organized into different states, with drag-and-drop functionality for easy workflow management. It also includes collaboration features, allowing multiple users to work together in real time.',
    previewUrl: 'https://uptask-nuxt.vercel.app',
    codeUrl: 'https://github.com/Jeanspkdz/uptask-nuxt'
  },
  {
    imageUrl: GymProjectImage,
    title: 'Gym Website',
    stack: [
      {
        icon: HtmlIcon,
        name: 'HTML',
        class: 'bg-orange-500/10 text-orange-400 border border-orange-500/20'
      },
      {
        icon: CssIcon,
        name: 'CSS',
        class: 'bg-blue-500/10 text-blue-400 border border-blue-500/20'
      },
      {
        icon: JsIcon,
        name: 'JavaScript',
        class: 'bg-yellow-500/10 text-yellow-400 border border-yellow-500/20'
      },
    ],
    description: 'A responsive single-page gym website that presents programs, pricing, and membership information. Built to provide a user-friendly experience and demonstrate front-end development skills',
    codeUrl: 'https://github.com/Jeanspkdz/gym-website',
    previewUrl: 'https://gym-website-umber-kappa.vercel.app/'
  }
];
---

<SectionWrapper id="projects" class="py-10 md:py-20">
  <Heading icon={Code} title="My Projects" />

  <div class="space-y-16">
    {
      PROJECTS.map(
        ({ codeUrl, description, imageUrl, stack, title, previewUrl }) => (
          <ProjectItem
            title={title}
            description={description}
            stack={stack}
            imageUrl={imageUrl}
            codeUrl={codeUrl}
            previewUrl={previewUrl}
          />
        )
      )
    }
  </div>
</SectionWrapper>

<style>
  #projects {
    view-timeline-name: --project-section;
    view-timeline-axis: block;
  }
</style>
